<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PodCastApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B052C1B31D04465800BB88F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B052C1C71D04465900BB88F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B052C1D21D04465900BB88F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
